<!-- /.content-wrapper -->
<footer class="main-footer">
  <!-- &copy; <a target="_blank" rel="noopener noreferrer" href="https://adminlte.io">AdminLTE</a>
    - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>
    <div class="float-right d-none d-sm-inline-block">
      <a target="_blank" rel="noopener noreferrer" 
          href="https://appseed.us/product/adminlte/flask/">AdminMSTk</a> 
    </div> -->
</footer>