<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/" class="brand-link">
    <img src="/static/assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
      style="opacity: .8">
    <span class="brand-text font-weight-light">Admin MST</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="/static/assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="{{ url_for('authentication_blueprint.logout') }}" class="d-block">
          {{ current_user.username }} - Logout
        </a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Busca" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <!-- <li class="nav-item has-treeview {% if 'index' in segment %} menu-open {% endif %}">
          <a href="#" class="nav-link {% if 'index' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/index.html" class="nav-link {% if 'index.html' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v1</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/index2.html" class="nav-link {% if 'index2.html' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v2</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/index3.html" class="nav-link {% if 'index3.html' in segment %} active {% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard v3</p>
              </a>
            </li>
          </ul>
        </li> -->
        <li class="nav-item">
          <a href="widgets.html" class="nav-link {% if 'widgets' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Novo Produto
              <!-- <span class="right badge badge-danger">!</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="relatorio.html" class="nav-link {% if 'relatorio' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Gerar Relatório
              <!-- <span class="right badge badge-danger">!</span> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="visualizar.html" class="nav-link {% if 'visualizar' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Modo Visualizar
              <span class="right badge badge-success">✓</span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a href="pedidos.html" class="nav-link {% if 'pedidos' in segment %} active {% endif %}">
            <i class="nav-icon fas fa-th"></i>
            <p>
              Gerar Pedidos
              <span class="right badge badge-danger">!</span>
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>