<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/static/assets/favicon.ico" type="image/x-icon">
  <link rel="canonical" href="https://appseed.us/adminlte" />

  <title>
    AdminLTE Flask - {% block title %}{% endblock %} | AppSeed
  </title>

  {% block stylesheets %}{% endblock stylesheets %}

</head>

<body class="hold-transition {% block body_class %}{% endblock body_class %}">
  <div class="wrapper">


    {% block content %}{% endblock content %}

    {% include 'includes/footer.html' %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

  </div>
  <!-- ./wrapper -->

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>

</html>