{% extends "layouts/base.html" %}

{% block title %} Top Navigation + Sidebar {% endblock %}

<!-- Element injected in the BODY element -->
{% block body_class %} sidebar-collapse layout-top-nav {% endblock body_class %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome Icons -->
<link rel="stylesheet" href="/static/assets/plugins/fontawesome-free/css/all.min.css">
<!-- Theme style -->
<link rel="stylesheet" href="/static/assets/css/adminlte.min.css">

{% endblock stylesheets %}



{% block content %}





<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark"> Admin MST</h1>
        </div><!-- /.col -->
        <!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <!-- Tabela -->
      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Frutas</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Unidade</th>
                  <th>Entrega </th>

                </tr>


              </thead>
              <tbody>
                <tr>
                  <td>Alface</td>
                  <td>



                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>



                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Abobrinha</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Beterraba</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Cenoura</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span info">kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">20/11/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Chicória</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Berinjela</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Limão</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>

      </div>

      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Raízes</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Unidade</th>
                  <th>Entrega </th>

                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Alface</td>
                  <td>



                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>



                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Abobrinha</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Beterraba</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Cenoura</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span info">kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">20/11/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Chicória</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Berinjela</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Limão</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>

      </div>


      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Beneficiados</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Unidade</th>
                  <th>Entrega </th>

                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Alface</td>
                  <td>



                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>



                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Abobrinha</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Beterraba</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Cenoura</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span info">kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">20/11/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Chicória</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Berinjela</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Limão</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>

      </div>



      <div class="card">
        <div class="card-header border-transparent">
          <h3 class="card-title">Hortaliças</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <div class="table-responsive">
            <table class="table m-0">
              <thead>
                <tr>
                  <th>Produto</th>
                  <th>Quantidade</th>
                  <th>Unidade</th>
                  <th>Entrega </th>


                </tr>

              </thead>
              <tbody>
                <tr>
                  <td>Alface</td>
                  <td>



                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>



                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>

                </tr>
                <td><span>10,90</span></td>

                <tr>
                  <td>Abobrinha</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Beterraba</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Cenoura</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span info">kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f56954" data-height="20">20/11/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Chicória</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span warning">unidades</span></td>
                  <td>
                    <div class="sparkbar" data-color="#f39c12" data-height="20">22/08/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Berinjela</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>kg</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/10/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>
                <tr>
                  <td>Limão</td>
                  <td>
                    <div class="form-group">
                      <label></label>
                      <select class="form-control-pedido">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option>6</option>
                        <option>7</option>
                        <option>8</option>
                        <option>9</option>
                        <option>10</option>
                      </select>
                    </div>
                  </td>
                  <td><span>molhos</span></td>
                  <td>
                    <div class="sparkbar" data-color="#00a65a" data-height="20">10/12/23</div>
                  </td>
                </tr>
                <td><span>10,90</span></td>

              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>

      </div>

      <!-- /.container-fluid -->
  </section>

  <a href="/tabelas-pedido" class="btn btn-block btn-default btn-lg">Fazer Login</a>
  <a href="/tabelas-pedido" class="btn btn-block btn-default btn-lg">Enviar Pedido</a>
  <!-- /.content -->
</div>
<!-- <div class="col-sm-6">
  <ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Layout</a></li>
    <li class="breadcrumb-item active">Top Navigation</li>
  </ol>
</div> -->
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<!-- jQuery -->
<script src="/static/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="/static/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="/static/assets/js/adminlte.min.js"></script>

{% endblock javascripts %}